*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
section
{
    padding: 4.5rem 0 1.4rem;
    /* outline: 2px solid black; */
}
header
{
    height: 10vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 4rem; */
    position: fixed;
    width: 100%;
    z-index: 10000;
    
}
.logo1
{
    color: black;
    font-weight: 500;
    font-size: 2rem;
}
.logo .bx
{
    font-size: 1.50rem;
    display: none;
}
.logo
{
    color: black;
    font-size: 1.50rem;
    font-weight: 600;
    padding: 3rem;
    
}
.navbar
{
    display: flex;
    gap: 2.50rem;
    
    width: 60%;
    justify-content: end;
    
    
}
.navbar a
{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.home
{
    background-image: url(images/taaa1.webp);
    object-fit: cover;
    background-size: cover;
    max-width: 100%;
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(295px,auto));
    gap: 1rem;

    
}
.text
{
    width: 45%;
    margin-top: 2rem;
    padding: 1rem;

}
.text h1
{
    font-size: 2.50rem;
    font-weight: 600;
    padding: 2rem;
}
.text p
{
    padding: 2rem;
}
.btn
{
   
   width: 30%;
   height: 6vh;
   margin: auto;
   margin-left: 2rem;
   border-radius: 19px;
   font-weight: 700;
   background-color: rgb(6, 77, 163);
   color: white;
}
.btn1
{
    width: 30%;
    height: 6vh;
    margin: auto;
    margin-left: 2rem;
    border-radius: 19px;
    font-weight: 700;
    background-color: rgb(6, 77, 163);
    color: white;
}
.form
{
   
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 2rem;
    background-color: white;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 1px 1px gray;
    z-index: 2000;
    

}
.form h1
{
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
}
.form input
{
    
    height: 7vh;
    width: 90%;
    margin: auto;
    background-color: gainsboro;
}
.btn2
{
    height: 7vh;
    width: 90%;
    color: white;
    font-weight: 800;
    background-color: rgb(180, 159, 58);
    margin: auto;
    padding: auto;
    margin-bottom: 4vh;
}
.about
{
    max-width: 90%;
    margin: auto;
    padding: auto;
}
.about-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1rem;
    margin-top: 2rem;
    padding: 3rem;
}
.heading
{
   
    text-align: center;
}
.heading h1
{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.heading p
{
    
    width: 55%;
    margin: auto;
}
.navbar a:hover, .logo1 .bx:hover
{
    color: red;
}
.box
{
    height: 50vh;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
   
}

.box h1
{
   
    height: 13vh;
    background-color: rgb(140, 186, 202);
    text-align: center;
    margin-bottom: 1rem;
    
}

.box h1 .imgq
{
    margin-right: 2vh;
    
    height: 7vh;
    margin-top: 2vh;
}
h3
{
    color: rgb(112, 90, 4);
    font-size: 1rem;
    margin: auto;
    width: 90%;
    margin-top: 2rem;
}
.box p
{
   
    width: 90%;
    margin: auto;
}
.box h2
{
    
    font-size: medium;
    font-weight: 100;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: .20rem;
}
@media (max-width:992px)
{
   .home .text
   {
    width: 100%;
   }
}
@media (max-width:850px)
{
    .logo .bx
    {
        display: initial;
        font-size: 2.40rem;
       
    }
    .home
    {
        grid-template-columns: repeat(auto-fit,minmax(255px,auto));
    }
    .logo
    {
        
        width: 55%;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .navbar
    {
        outline: 2px solid black;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -112vh;
        background-color: black;
        text-align: center;
        transition: 0.5s all;
        /* left: 28vh; */
        padding: 1rem;
        width: 100%;

    }
    .navbar a {
        color: white;
        
    }
    .about-container
    {
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    padding: 0;
    }
    .navbar a:hover
    {
        color: yellow;
    }
    .navbar.active
     {
        top:100%;
     }
}
@media (max-width:552px)
{
    
    .about-container
    {
    grid-template-columns: repeat(auto-fit,minmax(230px,auto));
    padding: 0;
    }
    .text h1 
    {
        text-align: center;
    }
    .text p 
    {
        text-align: center;
    }
    button
    {
       
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn,.btn1
    {
        margin: auto;
        padding: auto;
        margin-top: 1rem;
        
    }
    .form

    {
        width: 75%;
        margin: auto;
    }
    
}